.header-color {
	background-color: #8a2be2;
}

.date-time {
	margin-left: 70%;
}

.fa-angle-double-right {
	margin-left: 20%;
}

.fa-trash {
	margin-left: 10%;
}

.fa-angle-down {
	margin-left: 20%;
}

.new {
	background-color: #4582ec;
}

.rejected {
	background-color: #6f42c1;
}

.action-required {
	background-color: #e83e8c;
}

.closed {
	background-color: #02b875;
}

.notification {
	margin-left: 90%;
}
